@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html {
  background: #6c7989;
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==")
    fixed;
}

a {
  color: #069;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width: 100%;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: auto;
}

pre {
  padding: 20px;
  background: #3a3c42;
  color: #f8f8f2;
  margin: 0 -20px 20px;
}

pre code {
  color: #f8f8f2;
}

li pre {
  margin-left: -60px;
  padding-left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

header,
section,
footer {
  display: block;
}

.center {
  width: 100%;
  text-align: center;
}

#mcpframe {
  width: 100%;
  height: 500px;
  border: 0;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }
}
