.wrapper {
  width: 640px;
  margin: 0 auto;
  background: #dedede;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

.section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  background: linear-gradient(#fafafa, #dedede 700px);
  border-radius: 0 0 8px 8px;
  position: relative;
}

@media print, screen and (max-width: 740px) {
  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}
