.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 48px;
}

.section {
  padding: 0 0 80px;
  font-size: 15px;
}

@media print, screen and (max-width: 740px) {
  .wrapper {
    padding: 0 20px;
  }
}
